@import './colours'
  
.hotspot:hover .burst
  background-color: #056AFD

.hotspot:hover svg 
  g
    circle
      fill: #056AFD !important

.hotspot
  position: absolute
  transform: translate(-50%, -50%)
  z-index: 3

  .burst
    background-color: $darkBlue
    width: 72px
    height: 72px
    position: absolute
    left: 44%
    top: 50%
    border-radius: 100%
    transform: translate(-50%, -50%)
    z-index: -1
    animation: burst 1200ms ease infinite
    
    &.yellow
      background-color: #f6bd16

    &.green
      background-color: #78B143

  button
    width: 40px
    height: 40px
    background-color: transparent
    padding: 0
    border: 0
    display: block

 
  .popup
    position: absolute
    display: none
    left: 50%
    top: -10px
    white-space: nowrap
    background-color: white
    padding: 8px
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 1px
    transform: translate(-50%, -100%)

    .tip
      position: absolute
      background-color: white
      width: 12px
      height: 12px
      left: 50%
      bottom: 0
      transform: translate(-50%, 6px) rotate(45deg)

    p
      margin: 0
      font-size: 14px

  &:hover .popup
    display: block

.count
  position: absolute
  top: -6px
  right: -6px
  background: $lightBlue
  font-weight: bold
  color: white
  border-radius: 100%
  width: 22px
  height: 22px
  display: flex
  justify-content: center
  align-items: center
  font-size: 14px
  pointer-events: none
  

@keyframes burst
  0%
    transform: translate(-50%, -50%) scale(0)
    opacity: 1

  30%
    opacity: 0.9
    
  100%
    transform: translate(-50%, -50%) scale(1)
    opacity: 0